<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome to the http2 world</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="/js/Chart.bundle.min.js"></script>
  <script src="/js/jquery-3.0.0.min.js"></script>
</head>
<body>
<h2>You are visting a page that ...</h2>

<p>Loading a message from server:</p>

<ul>
  <li>is service secured: <span id="secured"></span></li>
  <li>time spent for getting additional data: <span id="timeSpent"></span> ms</li>
</ul>

<script src="/js/helloCtl.js"></script>

</body>
</html>